.walkthrough.x-btn-default-large {
	background-image: url(../img/toolbar/icon-walkthrough.svg) !important;
	background-color: #ffffff;
}
.home.x-btn-default-large {
	background-image: url(../img/toolbar/icon-home.svg) !important;
	background-color: #ffffff;
}
.pan.x-btn-default-large {
	background-image: url(../img/toolbar/icon-pan.svg) !important;
	background-color: #ffffff;
}
.examine.x-btn-default-large {
	background-image: url(../img/toolbar/icon-examine.svg) !important;
	background-color: #ffffff;
}
.zoom.x-btn-default-large {
	background-image: url(../img/toolbar/icon-zoom.svg) !important;
	background-color: #ffffff;
}
.region.x-btn-default-large {
	background-image: url(../img/toolbar/icon-region.svg) !important;
	background-color: #ffffff;
}
.wt_pan.x-btn-default-large {
	background-image: url(../img/toolbar/icon-wt_pan.svg) !important;
	background-color: #ffffff;
}
.wt_walk.x-btn-default-large {
	background-image: url(../img/toolbar/icon-wt_walk.svg) !important;
	background-color: #ffffff;
}
.wt_look_around.x-btn-default-large {
	background-image: url(../img/toolbar/icon-wt_look_around.svg) !important;
	background-color: #ffffff;
}
.wt_region.x-btn-default-large {
	background-image: url(../img/toolbar/icon-wt_region.svg) !important;
	background-color: #ffffff;
}
.wt_backAndForth.x-btn-default-large {
	background-image: url(../img/toolbar/icon-wt_backAndForth.svg) !important;
	background-color: #ffffff;
}
.area_fit.x-btn-default-large {
	background-image: url(../img/toolbar/icon-area_fit.svg) !important;
	background-color: #ffffff;
}
.view_target.x-btn-default-large {
	background-image: url(../img/toolbar/icon-view_target.svg) !important;
	background-color: #ffffff;
}
.rotate_left.x-btn-default-large {
	background-image: url(../img/toolbar/icon-rotate_left.svg) !important;
	background-color: #ffffff;
}
.rotate_right.x-btn-default-large {
	background-image: url(../img/toolbar/icon-rotate_right.svg) !important;
	background-color: #ffffff;
}
.fit_selection.x-btn-default-large {
	background-image: url(../img/toolbar/icon-fit_selection.svg) !important;
	background-color: #ffffff;
}
.sel_trans_sel.x-btn-default-large {
	background-image: url(../img/toolbar/icon-sel_trans_sel.svg) !important;
	background-color: #ffffff;
}
.sel_trans_nosel.x-btn-default-large {
	background-image: url(../img/toolbar/icon-sel_trans_nosel.svg) !important;
	background-color: #ffffff;
}
.fixUp.x-btn-default-large {
	background-image: url(../img/toolbar/icon-fixUp.svg) !important;
	background-color: #ffffff;
}
.change_display.x-btn-default-large {
	background-image: url(../img/toolbar/icon-change_display.svg) !important;
	background-color: #ffffff;
}
.procanim_play.x-btn-default-large {
	background-image: url(../img/toolbar/icon-procanim_play.svg) !important;
	background-color: #ffffff;
}
.procanim_pause.x-btn-default-large {
	background-image: url(../img/toolbar/icon-procanim_pause.svg) !important;
	background-color: #ffffff;
}
.procanim_stop.x-btn-default-large {
	background-image: url(../img/toolbar/icon-procanim_stop.svg) !important;
	background-color: #ffffff;
}
.procanim_next.x-btn-default-large {
	background-image: url(../img/toolbar/icon-procanim_next.svg) !important;
	background-color: #ffffff;
}
.procanim_previous.x-btn-default-large {
	background-image: url(../img/toolbar/icon-procanim_previous.svg) !important;
	background-color: #ffffff;
}
.procanim_reset.x-btn-default-large {
	background-image: url(../img/toolbar/icon-procanim_reset.svg) !important;
	background-color: #ffffff;
}
.configuration.x-btn-default-large {
	background-image: url(../img/toolbar/icon-configuration.svg) !important;
	background-color: #ffffff;
}
.resetVisibility.x-btn-default-large {
	background-image: url(../img/toolbar/icon-resetVisibility.svg) !important;
	background-color: #ffffff;
}
.drillup.x-btn-default-large {
	background-image: url(../img/toolbar/icon-drillup.svg) !important;
	background-color: #ffffff;
}
.drilldown.x-btn-default-large {
	background-image: url(../img/toolbar/icon-drilldown.svg) !important;
	background-color: #ffffff;
}
.edit_crosssection.x-btn-default-large {
	background-image: url(../img/toolbar/icon-edit_crosssection.svg) !important;
	background-color: #ffffff;
}
.direct_crosssection.x-btn-default-large {
	background-image: url(../img/toolbar/icon-direct_crosssection.svg) !important;
	background-color: #ffffff;
}
.fix_crosssection.x-btn-default-large {
	background-image: url(../img/toolbar/icon-fix_crosssection.svg) !important;
	background-color: #ffffff;
}
.list_crosssection.x-btn-default-large {
	background-image: url(../img/toolbar/icon-list_crosssection.svg) !important;
	background-color: #ffffff;
}
.tool_crosssection.x-btn-default-large {
	background-image: url(../img/toolbar/icon-tool_crosssection.svg) !important;
	background-color: #ffffff;
}
.view_crosssection.x-btn-default-large {
	background-image: url(../img/toolbar/icon-view_crosssection.svg) !important;
	background-color: #ffffff;
}
.measure_setting.x-btn-default-large {
	background-image: url(../img/toolbar/icon-measure_setting.svg) !important;
	background-color: #ffffff;
}
.measure_2points.x-btn-default-large {
	background-image: url(../img/toolbar/icon-measure_2point.svg) !important;
	background-color: #ffffff;
}
.measure_2lines.x-btn-default-large {
	background-image: url(../img/toolbar/icon-measure_2line.svg) !important;
	background-color: #ffffff;
}
.measure_2faces.x-btn-default-large {
	background-image: url(../img/toolbar/icon-measure_2face.svg) !important;
	background-color: #ffffff;
}
.measure_2parts.x-btn-default-large {
	background-image: url(../img/toolbar/icon-measure_2parts.svg) !important;
	background-color: #ffffff;
}
.measure_diameter.x-btn-default-large {
	background-image: url(../img/toolbar/icon-measure_diameter.svg) !important;
	background-color: #ffffff;
}
.measure_radius.x-btn-default-large {
	background-image: url(../img/toolbar/icon-measure_radius.svg) !important;
	background-color: #ffffff;
}
.measure_move.x-btn-default-large {
	background-image: url(../img/toolbar/icon-measure_move.svg) !important;
	background-color: #ffffff;
}
.measure_delete.x-btn-default-large {
	background-image: url(../img/toolbar/icon-measure_delete.svg) !important;
	background-color: #ffffff;
}
.measure_pointer.x-btn-default-large {
	background-image: url(../img/toolbar/icon-measure_pointer.svg) !important;
	background-color: #ffffff;
}
.search.x-btn-default-large {
	background-image: url(../img/toolbar/icon-search.svg) !important;
	background-color: #ffffff;
}
.wire.x-btn-default-large {
	background-image: url(../img/toolbar/icon-wire.svg) !important;
	background-color: #ffffff;
}
.shading.x-btn-default-large {
	background-image: url(../img/toolbar/icon-shading.svg) !important;
	background-color: #ffffff;
}
.wireshading.x-btn-default-large {
	background-image: url(../img/toolbar/icon-wireshading.svg) !important;
	background-color: #ffffff;
}
.reverseVisibility.x-btn-default-large {
	background-image: url(../img/toolbar/icon-reverseVisibility.svg) !important;
	background-color: #ffffff;
}
.front.x-btn-default-large {
	background-image: url(../img/toolbar/icon-front.svg) !important;
	background-color: #ffffff;
}
.back.x-btn-default-large {
	background-image: url(../img/toolbar/icon-back.svg) !important;
	background-color: #ffffff;
}
.right.x-btn-default-large {
	background-image: url(../img/toolbar/icon-right.svg) !important;
	background-color: #ffffff;
}
.left.x-btn-default-large {
	background-image: url(../img/toolbar/icon-left.svg) !important;
	background-color: #ffffff;
}
.top.x-btn-default-large {
	background-image: url(../img/toolbar/icon-top.svg) !important;
	background-color: #ffffff;
}
.bottom.x-btn-default-large {
	background-image: url(../img/toolbar/icon-bottom.svg) !important;
	background-color: #ffffff;
}
.isometric1.x-btn-default-large {
	background-image: url(../img/toolbar/icon-isometric1.svg) !important;
	background-color: #ffffff;
}
.isometric2.x-btn-default-large {
	background-image: url(../img/toolbar/icon-isometric2.svg) !important;
	background-color: #ffffff;
}
.isometric3.x-btn-default-large {
	background-image: url(../img/toolbar/icon-isometric3.svg) !important;
	background-color: #ffffff;
}
.isometric4.x-btn-default-large {
	background-image: url(../img/toolbar/icon-isometric4.svg) !important;
	background-color: #ffffff;
}
.range_select.x-btn-default-large {
	background-image: url(../img/toolbar/icon-range_select.svg) !important;
	background-color: #ffffff;
}
.wt_range_select.x-btn-default-large {
	background-image: url(../img/toolbar/icon-range_select.svg) !important;
	background-color: #ffffff;
}
.select_snap.x-btn-default-large {
	background-image: url(../img/toolbar/icon-select_snap.svg) !important;
	background-color: #ffffff;
}
.assembly.x-tree-icon-custom {
	background-image: url(../img/assytree/Assy.png);
}
.part.x-tree-icon-custom {
	background-image: url(../img/assytree/Part.png);
}
.Body.x-tree-icon-custom {
	background-image: url(../img/assytree/Body.png);
}
.Empty.x-tree-icon-custom {
	background-image: url(../img/assytree/Empty.png);
}
.Error.x-tree-icon-custom {
	background-image: url(../img/assytree/Error.png);
}
.manuAssy.x-tree-icon-custom {
	background-image: url(../img/manutree/ManuAssy.png);
}
.manuPart.x-tree-icon-custom {
	background-image: url(../img/manutree/ManuPart.png);
}
#staticContent {
    z-index:20000;
}
.x-tree-node-text {
    padding-left: 26px;
}
.x-grid-item:not(.x-grid-item-selected) .gridrow-currenAssembly .x-grid-cell {
    background-color: #ffc4c4!important;
}
.gyroscope.x-btn-default-large {
	background-image: url(../img/toolbar/icon-gyroscope.svg) !important;
	background-color: #ffffff;
}
.select_part.x-btn-default-large {
	background-image: url(../img/toolbar/icon-select_part.svg) !important;
	background-color: #ffffff;
}
.load_mask .x-mask-msg {
  background-color: #d0d0d0;
}